h1,
h4,
h6,
label {
  font-family: "Source Code Pro", monospace;
}

p {
  font-family: "Inconsolata", monospace;
}

tr {
  font-family: "Sono", monospace;
}

table,
input {
  border: solid 1px #8cd1e5;
}

.bg-primary.badge {
  background-color: #515079 !important;
  color: #fff;
}

.btn-primary {
  background-color: #787892 !important;
  border-color: #787892 !important;
}

.border-primary {
  --bs-border-opacity: 1;
  border-color: #8cd1e5 !important;
}

/*#353b90, #515079, #787892, #8cd1e5, #c8cfe5*/
